In [27]:
class Aiffel:

    def __init__(self, name, year, student_number, subject):
      self.menu = ['이    름', '입학연도', '기    수', '수강과목', '학    번']
      self.student = []
      self.student.append(name)
      self.student.append(year)
      self.student.append(student_number)
      self.student.append(subject)
      self.st_number()

    def display(self):
      for i in range(len(self.menu)):
        print(i+1, self.menu[i], ':', self.student[i])

    def st_number(self):
      number = self.student[1].split('20')
      self.student.append(number[1]+'31'+'2'+'01')

In [28]:
a = Aiffel('정권영', '2024', '온라인8기', '코어')
a.display()
a.st_number()

1 이    름 : 정권영
2 입학연도 : 2024
3 기    수 : 온라인8기
4 수강과목 : 코어
5 학    번 : 2431201